<div class="row">
    <div class="col-sm-12">
  
      <form [formGroup]="waForm" (ngSubmit)="withdrawal()">
  
      <div class="form-group">
          <div class="alert alert-info text-center" *ngIf="message !== ''">
            {{message}}
          </div>
      </div>
      <div class="form-group">
        <label for="account">Select Account</label>
        <select formControlName="accountNumber" id="account" class="form-control" >
          <option value="">Select Account</option>
          <option *ngFor="let ac of accounts" value="{{ac.accountNumber}}">{{ac.accountNumber}}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="amount">Cash Nominal</label>
          <input type="text" formControlName="amount" class="form-control" id="amout" placeholder="Nominal">
      </div>
      <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Send">
      </div>
    </form>
    </div>
  </div>