<!-- portfolio -->
<div class="row portfolio">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <button (click)="topup()" class="btn btn-primary">Top Up</button>&nbsp;
              <button (click)="transfer()" class="btn btn-primary">Transfer</button>&nbsp;
              <button (click)="withdrawal()" class="btn btn-primary">Withdrawal</button>&nbsp;
              <button *ngIf="!isEbanking && wallet.type !== 'E-Merchant'" (click)="payment()" class="btn btn-primary">Payment</button>
              <hr>
              <h5 *ngIf="!isEbanking">Active Ballance : {{wallet.activeBallance | currency:'Rp. '}}</h5>
              <h5 *ngIf="isEbanking">Active Ballance : {{totalBallance | currency:'Rp. '}}</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Account Name</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Ballance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ac of accounts">
                    <td>{{ac.accountName}}</td>
                    <td>{{ac.accountNumber}}</td>
                    <td>{{ac.ballance | currency:'Rp. '}}</td>
                  </tr>
                  <tr>
                    <th colspan="2">Total Ballance</th>
                    <th>{{totalBallance | currency:'Rp. '}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              
                <!-- <router-outlet name='content'></router-outlet> -->
                <div *ngIf="!topupPage && !transferPage && !withdrawalPage && !paymentPage">
                    <h4 class="text-center" style="margin-top:100px;">Select Transaction</h4>
                  </div>

                <div *ngIf="topupPage">
                  <app-topup (topupEmmiter)="reset($event)" [isBanking]="isEbanking"></app-topup>
                </div>
                <!-- <div *ngIf="topupPage && isEbanking">
                  <app-topup2></app-topup2>
                </div> -->

                <div *ngIf="transferPage">
                  <app-transfer (transferEmiter)="reset($event)" [isBanking]="isEbanking"></app-transfer>
                </div>
                <div *ngIf="withdrawalPage">
                  <app-withdrawal (emmiter)="reset($event)" [isBanking]="isEbanking"></app-withdrawal>
                </div>
                <div *ngIf="paymentPage">
                  <app-payment (emmiter)="reset($event)"></app-payment>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>