 <!-- sidebar -->
 <div class="sidebar">

  <nav class="nav flex-column">
    <ul>
      <li class="nav-item nav-dashboard active">
        <a class="nav-link" routerLink="/"><i class="fas fa-tachometer-alt"></i>&nbsp; Dashboard</a>
      </li>
      <li class="nav-title">MAIN MENU</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile"><i class="fas fa-user"></i>&nbsp; Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account-list"><i class="fas fa-list"></i>&nbsp; Account List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transactions-report"><i class="fas fa-money-check-alt"></i>&nbsp; Transaction Report</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/e-wallets"><i class="fas fa-wallet"></i>&nbsp; E-Wallets</a>

        </li>
    </ul>
  </nav>
</div>