 <!-- sidebar -->
 <div class="sidebar">

   <nav class="nav flex-column">
     <ul>
       <li class="nav-profile">
         <img class="nav-profile-img" src="assets/images/lufy.jpg" alt="profile">
       </li>
       <li class="side-profile">
         <a class="name" routerLink="/profile">
          {{wallet.fullName}}
          <p class="cash-tag">$ {{wallet.cashTag}}</p>
          </a>
         <p style="margin-bottom:5px;" *ngIf="wallet.activeBallance">{{wallet.activeBallance | currency:'Rp. '}}</p>
      </li>
       <li class="nav-item" routerLinkActive="active" 
          *ngFor="let menu of mainMenu">
         <a class="nav-link" routerLink="{{menu.link}}"><i class="fas {{menu.icon}}"></i>&nbsp; {{menu.name}}</a>
       </li>
     </ul>
   </nav>
 </div>
