<h5>Payment</h5>
<hr>

<div class="row">
  <div class="col-sm-12">
    
      <div class="alert alert-info" *ngIf="message !== ''">
        <p style="margin-bottom:0;">{{message}}</p>
      </div>

      <form [formGroup]="wtwForm" (ngSubmit)="transfer()">
  
          <div class="form-group">
            <label for="tag">Cash Tag</label>
            <input type="text" formControlName="cashTag" class="form-control" 
            id="tag" placeholder="Cash Tag" [ngClass]="{ 'is-invalid': submitted && f.cashTag.errors }">
          </div>
          <div class="form-group">
            <label for="amount">Payment Nominal</label>
            <input type="text" formControlName="amount" class="form-control" id="amout" 
            placeholder="Nominal" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Send">
          </div>
    
        </form>
    
  </div>
</div>