<div class="row">
    <div class="col-sm-12">
  
      <div class="alert alert-info" *ngIf="message !== ''">
        <p style="margin-bottom:0;">{{message}}</p>
      </div>
  
      <form [formGroup]="mtForm" (ngSubmit)="transfer()">

        <div class="form-group">
          <label for="account">Select Account</label>
          <select formControlName="accountNumber" id="account" 
          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountNumber.errors }">
            <option value="">Select Account</option>
            <option *ngFor="let ac of accounts"  value="{{ac.accountNumber}}">{{ac.accountNumber}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="account">Destination Account Number</label>
          <input type="text" formControlName="destinationNumber" class="form-control" id="account"
            placeholder="Account Number" [ngClass]="{ 'is-invalid': submitted && f.destinationNumber.errors }">
        </div>
        <div class="form-group">
          <label for="amount">Transfer Nominal</label>
          <input type="text" formControlName="amount" class="form-control" id="amout" 
          placeholder="Nominal" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Send">
        </div>
  
      </form>
  
    </div>
  </div>