<nav class="navbar navbar-expand-lg fixed-top main-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><b>Mini Bank</b></a>

    <a href="javascript:void(0)" id="btn-toggler" class="btnhide"><i class="fas fa-bars">&nbsp;</i></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul> -->
    </div>
    <div class="float-right option">
      <ul>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuOption" 
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-bell fa-1x"></i>
               <span class="badge badge-danger notif">4</span>
            </a>
  
            <div class="dropdown-menu dropdown-menu-right dropdown-notif" aria-labelledby="dropdownMenuOption">
              <a class="dropdown-item" href="#">&nbsp; Top Up</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">&nbsp; Transfer</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">&nbsp; Withdrawal</a>
            </div>
          </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuOption" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             &nbsp;&nbsp;<i class="fas fa-ellipsis-v fa-1x"></i>&nbsp;&nbsp;
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-notif" aria-labelledby="dropdownMenuOption">
            <a class="dropdown-item" href="#">&nbsp; Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">&nbsp; Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
