<h5>Top up</h5>
<hr>

<div class="row">
  <div class="col-sm-12">

    <div class="form-group">
        <input type="checkbox" id="type" (change)="byAccount()"> &nbsp;
        <label for="type">Top Up By Account</label>
    </div>

    <div class="form-group" *ngIf="isAccount">
        <label for="account">Select Account</label>
        <select name="accountNumber" id="account" class="form-control">
          <option value="">0823626323</option>
          <option value="">023827653</option>
        </select>
    </div>
    <div class="form-group">
        <label for="amount">Top Up Nominal</label>
        <input type="text" class="form-control" id="amout" placeholder="Nominal">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Ok">
    </div>
    
  </div>
</div>