<div class="row account-list">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <div class="img-profile">
          <img src="assets/images/lufy.jpg" alt="User Profile">
        </div>
        <div class="detail-profile">
          <hr>
          <h5>{{wallet.fullName}}</h5>
          <p class="italic">$ {{wallet.cashTag}}</p>
          <hr>
          <p>{{wallet.placeOb}}, {{wallet.birthDate}}</p>
          <p>{{wallet.email}}</p>
          <p>{{wallet.phoneNumber}}</p>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <h5>Wallet Profile &nbsp;
          <!-- <span>
            <a href="javascript:void(0)" (click)="editPage()" data-toggle="tooltip" data-placement="right"
              title="Edit Profile"><i class="fas fa-edit"></i></a>
          </span> -->
        </h5>
        <hr>

        <table class="table">
          <tbody>
            <tr>
              <th scope="row" width="150px">Wallet Name</th>
              <td>
                {{wallet.walletName}} &nbsp;
               <a href="javascript:void(0)" (click)="editPage()"><i class="fas fa-pencil-alt"></i></a>
                <br>
               <app-edit-wallet-name *ngIf="isEdit" (emmiter)="editPage($event)"></app-edit-wallet-name>
              </td>
            </tr>
            <tr>
              <th scope="row" width="150px">Cash Tag</th>
              <td>$ {{wallet.cashTag}}</td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td>{{wallet.type}}</td>
            </tr>
            <tr>
              <th scope="row">Active Ballance</th>
              <td *ngIf="wallet.type!=='E-Banking'">{{wallet.activeBallance | currency:'Rp. '}}</td>
              <td *ngIf="wallet.type==='E-Banking'">{{totalBallance | currency:'Rp. '}}</td>
            </tr>
            <tr>
              <th scope="row">Accounts</th>
              <td>{{totalAccount}} &nbsp;
                  <a href="javascript:void(0)" (click)="lookAccount()">
                      <i class="fas fa-eye"></i>
                  </a>

                  <span style="float:right;" *ngIf="wallet.type!=='E-Banking'">
                      <a href="#" *ngIf="showAccount" data-toggle="modal" data-target="#acnModal">
                          <i class="fas fa-plus-square"></i>
                        </a>
                  </span>

                <br><br>
                <table *ngIf="showAccount" class="table table-striped">
                    <tbody>
                      <tr *ngFor="let ac of accounts">
                        <td>{{ac.accountName}}</td>
                        <td>{{ac.accountNumber}}</td>
                        <td>{{ac.ballance | currency: 'Rp. '}}</td>
                      </tr>
                    </tbody>
                  </table>
              </td>
            </tr>
            <tr>
              <th scope="row">Open Date</th>
              <td>{{wallet.createAt | date: 'longDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- edit -->
      <!-- <app-editcustprofile (emiterEdit)="editPage($event)" *ngIf="isEdit"></app-editcustprofile> -->
    </div>
  </div>
</div>

<app-modaladdaccount></app-modaladdaccount>
