<div class="row">
  <div class="col-sm-12">

    <div class="alert alert-info" *ngIf="message !== ''">
      <p style="margin-bottom:0;">{{message}}</p>
    </div>

    <form [formGroup]="topUpForm" (ngSubmit)="topUp()">
      <div class="form-group">
        <label for="amount">Top Up Nominal</label>
        <input type="number" formControlName="amount" class="form-control" id="amout" placeholder="Nominal">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Ok">
      </div>

    </form>

  </div>
</div>