<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="text-center">Update Password</h5>
          <hr>
  
          <div class="row justify-content-md-center">
            <div class="col-md-4">
  
              <div class="alert alert-warning text-center" *ngIf="message !== ''">
                <p style="margin-bottom:0;">{{message}}</p>
              </div>
  
              <form [formGroup]="editPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="">Current Password</label>
                    <input type="password" formControlName="currentPassword" class="form-control" placeholder="Current Password" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }">
                </div>
                <div class="form-group">
                  <label for="">New Password</label>
                  <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                </div>
                <div class="form-group">
                  <label for="">Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"  [disabled]="editPasswordForm.invalid">Save</button>
                  </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  